<!DOCTYPE html>
<html>
    <head>
        <title>codeSage</title>
    </head>
    <body>
        <h1>Choose a Codebase</h1>

        <!-- Option 1 -->
        <button onclick="alert('Option 1 coming soon')">Use Preexisting Codebase</button>

        <!-- Option 2 -->
        <form id="new-codebase-form">
            <p>Select a new codebase folder:</p>
            <br />
            <button type="submit">Selected Folder</button>
        </form>

        <script>
            const form = document.getElementById('new-codebase-form');

            form.addEventListener('submit', async (e) => {
                e.preventDefault();

                const res = await fetch('/', {
                    method: 'POST'
                });

                const data = await res.json();
                document.write(data);
            });
        </script>
    </body>
</html>
