<!DOCTYPE html>
<html>
    <head>
        <title>codesage</title>
    </head>
    <body>
        <h1>Choose a Codebase</h1>
        <form id="codebase-selection-form">
            <p>Select codebase you want codesage to assist with...</p>
            <br />
            <button type="submit">Select Folder</button>
        </form>

        <script>
            const form = document.getElementById('codebase-selection-form');

            form.addEventListener('submit', async (e) => {
                e.preventDefault();

                const res = await fetch('/', {
                    method: 'POST'
                });

                const data = await res.json();
                if (data.collectionName) {
                    localStorage.setItem('collectionName', data.collectionName);
                    alert(`Collection "${data.collectionName}" saved!`);
                    window.location.href = '/chat';
                } else {
                    alert('No collectionName received from server.');
                }
            });
        </script>
    </body>
</html>
